.bg_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 20;
}
.bg_edit_product {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
}
.edit_product {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 50px;
  border: 1px solid yellow;
  background-color: rgb(44, 41, 41);
}
.inp_block {
  display: flex;
  margin: 0px auto;
  width: 100%;
}
.edit_product input {
  font-size: 16px;
  padding: 20px;
  display: block;
  width: 60%;
  border: none;
  background-color: inherit;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.edit_product label {
  color: #fff;
}
